html,
body {
  padding: 0;
  margin: 0;
  font-family: "Itim", sans-serif; /* consistent font */
  scroll-behavior: smooth; /* smooth scrolling for nav links */
  background-color: #f8f9fa; /* light background for modern look */
  color: #222; /* text color */
}

#root {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn-primary {
  background-color: #14213d;
  border-radius: 12px;
  color: #e5e5e5;
  font-family: Itim;
  font-weight: 400;
  font-size: 20px;
  border: none;
  padding: 5px 20px;

  &:hover {
    color: #14213d;
    background-color: #e5e5e5;
    border: 1px solid #14213d;
  }
}

.skills ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: start;
}